.navs,
.navs__links {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-self: center;
	font-size: 30px;
}
link,
a {
	padding: 0 20px;
	border-width: thick;
	text-decoration: none;
	color: black;
	font-size: 25px;
}
