h1 {
    color: #2e112d;
    font-weight: 700;
    font-size: 35px;
    font-family: 'Arvo', serif;

}

/* Style search form */

.search-title h3 {
    display: flex;
    margin-left: 25%;
    padding-left: 10px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #2e112d;
}

input {
    width: 50%;
    border: 2px solid #333333;
    padding: 30px 50px;
    margin-left: 20px ;
}

input[type='text'] {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-left: 50px;
    margin: 10px 20px;
    box-sizing: border-box;
}

button {
    background-color: #f14339;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    color: white;
    padding: 20px 50px;
    margin: 10px 20px;
    width: 200px;
    cursor: pointer;
}

 img {
    width: 100%;
    height: auto;
}

/* style the list of restaurants  */
.restaurant-list {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: flex-end;
}
.restaurant {
    width: 20%;
    margin: 30px 30px;
    padding-right: auto;
}

#restaurant-image {
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px;
    padding: 15px;
    background-color: #edf1f7;
}

#restaurant-name h1 {
    font-size: 25px;
    font-weight: bold;
}

#restaurant-name:hover {
     font-size: 30px;
 }

a {
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    color: #f14339;
}

/* set responsivines for different devices */
@media only screen and (max-width: 1679px) {
    .search-title h3 {
        margin-left: 10px;
        font-size: 55px;
    }
    input {
        width: 100%;
    }
    button {
        width: 500px;
        padding: 30px 50px;
        font-size: 18px;
    }
    img {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 768px) {
    .search-title h3 {
      margin-left: 10px;
    }
    input {
      width: 100%;
    }
    button {
       width: 400px;
    }
    .restaurant-list{
      width: 700px;
      margin-left: 0;
    }
    .restaurant {
      width: 30%;
      margin-left: 0;

    }
    .restaurant-summary {
        width: 300px;
    }
    #restaurant-image{
        width: 300px;
    }
    img {
        width: 800px;
        height: auto;
     }
}
@media only screen and (max-width: 414px) {
    .search-title h3 {
        margin-left: 40px;
    }
    input {
        width: 85%;
    }
    button {
        width: 340px;
    }
    .restaurant-list {
        width: 400px;
        margin-left: 0;
    }
    .restaurant {
        width: 100%;
        margin-left: 0;

    }
    #restaurant-image {
        width: 400px;
    }
    img {
        width: 420px;
        height: auto;
    }
}
@media only screen and (max-width: 375px){
    .search-title h3 {
        margin-left: 30px;
    }
    input {
        width: 80%;
    }
    button {
        width: 300px;
    }
    .restaurant-list {
        width: 375px;
        margin-left: 0;
    }

    .restaurant {
        width: 100%;
        margin-left: 0;

    }
     #restaurant-image {
        width: 365px;
    }
    img {
        width: 450px;
        height: auto;
  }
}

@media only screen and (max-width: 320px) {
    .search-title h3 {
        margin-left: 30px;
    }
    input {
        width: 100%;
    }
    button {
        width: 300px;
        margin-left: 30px;
    }
    .restaurant-list {
        width: 375px;
        margin-left: 0;
    }
    .restaurant {
        width: 100%;
        margin-left: 0;
    }
    #restaurant-image {
        width: 365px;
    }
    img {
        width: 330px;
        height: auto;
    }
}
  
 

